<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px 50px;">
  <a class="navbar-brand" href="/">WordsCount</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
        <a class="nav-link" href="{% url 'index' %}">Главная</span></a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'pages' %}active{% endif %}">
        <a class="nav-link" href="{% url 'pages' %}">Страницы</a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'analysis' %}active{% endif %}">
        <a class="nav-link" href="{% url 'analysis'%}">Анализ</a>
      </li>
    </ul>
      {% if user.is_superuser %}
        {% if request.resolver_match.url_name != 'update' %}
    <form class="form-inline my-2 my-lg-0">
      <a href="{% url 'update' %}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Загрузить данные</a>
    </form>
        {% endif %}
      {% endif %}
  </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>
{% block scripts %}{% endblock %}

<style>
    .active {
        font-weight: 500;
    }

    .active a {
        color: #0d6efd !important;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>