{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}
    <div class="mx-auto" style="width: 700px;">
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>

    <div class="mx-auto col-8">
        <select class="form-select" aria-label="Select type" data-select="">
          {% for d in data %}
            <option value="{{ d.category }}">{{ d.category }}</option>
          {% endfor %}
        </select>

        <div class="input-group mb-3 pt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Количество элементов на графике</span>
          </div>
          <input type="number" class="form-control" aria-label="Default" data-q="" aria-describedby="inputGroup-sizing-default" value="50">
        </div>
    </div>
    {% for d in data %}
        <input type="hidden" value="{{ d.dictionary }}" data-parsed="" data-category="{{ d.category }}" data-quantity="{{ d.quantity }}">
    {% endfor %}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const data = document.querySelectorAll('input[data-parsed]');
    const select = document.querySelector('select[data-select]');
    const quantity = document.querySelector('input[data-q]');

    var data_parsed = {};


    for (let i = 0; i < data.length; ++i) {
        data_parsed[data[i].dataset.category] = {
            'q': data[i].dataset.quantity,
            'd': JSON.parse(data[i].value.replaceAll('\'','"'))
        };
    }

    window.onload = () => {
        const ctx = document.getElementById('myChart');
        const main_chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: 'Встречаемость',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        function addData(chart, label, data) {
            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
            chart.update();
        }

        function removeData(chart) {
            chart.data.labels = [];
            chart.data.datasets.forEach((dataset) => {
                dataset.data = [];
            });
            chart.update();
        }

        function set_limited(cat, count = 50) {
            removeData(main_chart);
            for (let i = 0; i < count && i < data_parsed[cat]['d'].length; ++i) {
                let k = Object.keys(data_parsed[cat]['d'][i])[0];
                addData(main_chart, k, data_parsed[cat]['d'][i][k]);
            }
        }

        set_limited('all');

        select.addEventListener('change', (event) => {
            set_limited(event.target.value, quantity.value);
        });

        quantity.addEventListener('change', (event) => {
            set_limited(select.value, event.target.value);
        });
    };
</script>
{% endblock %}